pandas
numpy
jupyter
notebook
Sphinx
flake8
mypy
tqdm
lightgbm
optuna
beautifulsoup4
requests
scikit-learn
django
djangorestframework
django-debug-toolbar
django-bootstrap4
selenium
django-cors-headers