{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />

  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
  <!-- <script src='main.js'></script> -->
</head>
<body>
  <h2>Race Info</h2>
  <p>{{ races.0.race_date }} {{ races.0.track_type }} {{ races.0.race_number }}レース</p>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href='#contents1' class="nav-link active" data-toggle="tab">レース情報</a>
    </li>
    <li class="nav-item">
      <a href='#contents2' class="nav-link" data-toggle="tab">騎手情報</a>
    </li>
    <li class="nav-item">
      <a href='#contents3' class="nav-link" data-toggle="tab">タブ3</a>
    </li>
    <li class="nav-item">
      <a href='#contents4' class="nav-link" data-toggle="tab">タブ4</a>
    </li>
  </ul>

  <div class="tab-content">
      <div id="contents1" class="tab-pane active">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">枠</th>
              <th scope="col">馬番</th>
              <th scope="col">馬名</th>
              <th scope="col">騎手名</th>
            </tr>
          </thead>
          <tbody>
            {% for race in races %}
              <tr>
                <td>{{ race.bracket }}</td>
                <td>{{ race.horse_number }}</td>
                <td>{{ race.horse.name }}</td>
                <td>{{ race.jockey.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="contents2" class="tab-pane">

        <div class="accordion" id="jockey-record">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#jockey-year-record" aria-expanded="true" aria-controls="collapseOne">
                  2021年全成績
                </button>
              </h5>
            </div>
        
            <div id="jockey-year-record" class="collapse" aria-labelledby="headingOne" data-parent="#jockey-record">
              <div class="card-body">
                
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">騎手名</th>
                      <th scope="col">1位</th>
                      <th scope="col">2位</th>
                      <th scope="col">3位</th>
                      <th scope="col">4位以下</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, value in jockey_records.items %}
                      <tr>
                        <td>{{ key }}</td>
                        {% for rank in value %}
                          <td>{{ rank }}</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#jockey-year-field-record" aria-expanded="false" aria-controls="collapseTwo">
                  2021年コース成績
                </button>
              </h5>
            </div>
            <div id="jockey-year-field-record" class="collapse" aria-labelledby="headingTwo" data-parent="#jockey-record">
              <div class="card-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">騎手名</th>
                      <th scope="col">1位</th>
                      <th scope="col">2位</th>
                      <th scope="col">3位</th>
                      <th scope="col">4位以下</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, value in jockey_field_records.items %}
                      <tr>
                        <td>{{ key }}</td>
                        {% for rank in value %}
                          <td>{{ rank }}</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#jockey-year-class-record" aria-expanded="false" aria-controls="collapseThree">
                  2021年新馬戦成績
                </button>
              </h5>
            </div>
            <div id="jockey-year-class-record" class="collapse" aria-labelledby="headingThree" data-parent="#jockey-record">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">騎手名</th>
                      <th scope="col">1位</th>
                      <th scope="col">2位</th>
                      <th scope="col">3位</th>
                      <th scope="col">4位以下</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, value in jockey_class_records.items %}
                      <tr>
                        <td>{{ key }}</td>
                        {% for rank in value %}
                          <td>{{ rank }}</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="contents3" class="tab-pane">
          <p>タブ3のコンテンツ</p>
      </div>
      <div id="contents4" class="tab-pane">
        <p>タブ4のコンテンツ</p>
    </div>
  </div>
  

</body>
</html>
